@model Aviato.ViewModels.EditUsersViewModel

@foreach (var stju in Model.Stjuard)
        {
            <div class="form-group ovdedodaj">
                @Html.LabelFor(model => stju.JezikId, "Jezik", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => stju.Jezik.Jezici, new SelectList(ViewBag.JezikId, "Value", "Text"), stju.Jezik.Jezici, new { @class = "form-control", @style = "display: inline-block" })
                    @Html.ValidationMessageFor(model => stju.Jezik.Jezici, "", new { @class = "text-danger", @style = "padding-right: 20px" })
                    <span class="fas fa-minus-circle"></span><span class="fas fa-plus-circle"></span>
                </div>
            </div>
        }